[submodule "command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim-rspec"]
	path = bundle/vim-rspec
	url = git@github.com:thoughtbot/vim-rspec.git
[submodule "vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim-autoclose"]
	path = bundle/vim-autoclose
	url = git@github.com:Townk/vim-autoclose.git
[submodule "vim-dispatch"]
	path = bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
